.background {
  min-height: 75vh;
  color: #693061;
  background: rgba(222, 220, 220, 0.911);
}

.background-color {
  background-color: white;
}

header,footer{
  background-color: #693061;
}

.d-flex.justify-content-center h1,
.d-flex.justify-content-center h2,
.d-flex.justify-content-center p,
.d-flex.justify-content-center img {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

p{
  padding-left: 250px;
  padding-right: 250px;
  margin: 10px;
}

.btn-calcular {
  width: 150px;
  margin: 0 auto;
}


